.container{
    text-align:center;
    margin-top: 50px;

}
.slide_wrap {
    width: 400px; 
    margin: auto;
    padding-bottom: 30px;
}
.slide_box { 
    /* border:1px solid black; */
    width: 100%; 
    margin: auto; 
    overflow-x: hidden; 
}
.slide_list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width:2000px;

}

.slide_content { 
    /* display: table;  */
    /* float: left;  */
    width: 400px; 
    
    /* height: 200px; */

}
.slide_text{
    display: table;
    width: 100%;
    height: 200px;
    /* border:1px solid black; */

}
.slide_text p{
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    font-size:20px;
}
.slide_content.slide01 {
    background: #9fd6c2;
}
.slide_content.slide02 {
    background: #8f81f5;
}
.slide_content.slide03 {
    background: #ddac99;
}
.slide_content.slide04 {
    background: #fbfe78;
}
.slide_content.slide05 {
    background: #920404;
}
.slide_btn_box{
    position: relative;
}
.slide_btn_box button{
    /* position: absolute;
    top: 50%;
    margin-top: -45px; */
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 60px;
    font-size: 16px;
    background: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.slide_btn_next {
    /* width: 100%; */
}
.slide_btn_prev {
    /* width: 100%; */
}
.slide_pagination{
    position: absolute;
    left: 50%;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
}
.slide_pagination li{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    overflow: hidden;
    background: #ddd;
    border-radius: 50%;
    transition: 0.3s;
}
.slide_pagination li a{
    display: block;
    width: 100%;
    height: 100%;
}

.slide_pagination .dot.dot_active {
    background: #333;
}