@font-face {
  font-family: 'hannaPro';
  src: url(../public/font/BMHANNAPro.ttf);
}

@font-face {
  font-family: 'hannaAir';
  src: url(../public/font/BMHANNAAir.ttf);
}

body {
  font-family: 'hannaPro', sans-serif;
}
